<!DOCTYPE html>
<html lang="en">

<head>
 
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>The Hacking Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">


  <!--Mailchimps-->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <!--Mailchimps-->
  
</head>



<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
       <span><%= image_tag('thp-logo.png', :width => "10%") %>
      <a class="navbar-brand" href="#myPage"> THE HACKING PROJECT</a>
      </span>
    </div>


  </div>
</nav>




<div class="headspec">

<div class="container">
  <div class="row">

	<div class="col-sm-6">
	
			<h1>Le code n’a jamais été aussi accessible</h1>
			<p>Devenir développeur ?
			</br>Passez d'une idée à un produit?
			</br>3 mois pour mettre toutes les chances
			de votre côté !</p>
		
	</div>


	<div class="col-sm-6">

	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="854" height="480" style="border: 10px solid black;" src="https://www.youtube.com/embed/c4D786zRO6g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>

	</div>


	</div>
</div>


</div>










<div class="container-fluid bg-grey">
  <div class="container-fluid text-center">


<h2 class="titulo-color">Le code t'intéresse ? </h2>
<p style="font-size: 18px; color: #000;"><strong>Les fondateurs Félix et Charles</strong> vous confient leurs meilleurs conseils et astuces en</br>matière de code, et répondent à toutes vos questions.</p>

</div>




<!-- Form Mailchimp -->

<div id="mailchimp">
<form action="https://herokuapp.us17.list-manage.com/subscribe/post?u=e32bd685ad4cebaf233cc4f36&amp;id=89f37c46fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
   <div id="mc_embed_signup_scroll">
    
<div class="mc-field-group">
    <label for="mce-EMAIL"><!-- Email Address  --></label>
    <input type="email" value="" name="EMAIL" placeholder="Adresse email" class="required email" id="mce-EMAIL">
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
   <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e32bd685ad4cebaf233cc4f36_89f37c46fd" tabindex="-1" value=""></div>
   <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
   </div>
</form>
</div>

<!-- Form Mailchimp -->


</div>



<div class="container">
  <div class="container-fluid text-center">



<h3 class="titulo">The Hacking Project en 3 mots clés</h3>
    <div class="col-sm-4">
      <h2 class="advantage"><span style="color:#F94929">Gratuité<span></h2>

<span style="color: #F94929;"><i class="far fa-money-bill-alt fa-5x"></i></span>



      <h4></br>Voulez-vous apprendre à coder gratuitement ? <strong>Une formation qui vous accueille comme vous êtes</strong>, quels que soient votre parcours, vos motivations ou vos moyens. </h4>
      
    </div>

  <div class="col-sm-4">
      <h2 class="advantage"><span style="color:#F01668">Excellence</span></h2>
<span style="color: #F01668;"><i class="fas fa-graduation-cap fa-5x"></i></span>
      <h4></br>Voulez-vous apprendre à coder votre site Internet ou votre chatbot ?
Une formation exigeante, plusieurs projets validants par semaine <strong>pendant 3 mois à temps plein</strong>. Un projet final assez complexe pour valider vos nouvelles compétences. </h4><br>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p> -->
      
    </div>


      <div class="col-sm-4">
      <h2 class="advantage"><span style="color:#F94929">Entraide</span></h2>
      <span style="color: #F94929;"><i class="fas fa-hand-peace fa-5x"></i></span>
      <h4></br><strong>Voulez-vous faire partie d’un mouvement qui influencera le 21ème siècle ?</strong>
Apprendre à trouver de l’aide, donner du temps aux autres : des compétences clés en matière de code. <strong>Une communauté qui vous aide à franchir des paliers et partage les bons plans.</strong> </h4><br>
      <!-- <br><button class="btn btn-default btn-lg">Get in Touch</button> -->

    </div>



  </div>
</div>





<div class="container-fluid bg-grey">


<div class="container">

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>Ils ont fait The Hacking Project </h2>
  
  

  <!-- <div class="row slideanim"> -->
    <div class="col-sm-4">
      
      <h4 class="testimonial-t">Justine</h4>
      <div class="imago"><%= image_tag('justine.jpg', :width => "100%",:class=> "img-circular") %></div>

      <p class="testimonial" >« The Hacking Project a été une révélation, j’ai trouvé ma vocation. Je suis même en passe de trouver mon premier poste de développeur. »</p>
    </div>


    <div class="col-sm-4">
     

      <h4 class="testimonial-t">Sylvain</h4>
      <div class="imago"><%= image_tag('sylvain.jpg', :width => "100%", :height => "auto", :class=> "img-circular") %></div>
      <p class="testimonial">« Grâce à The Hacking Project, j’ai pu comprendre les besoins techniques de mon projet et gagner en autonomie. Mon projet avance enfin ! » </p>
    </div>


    <div class="col-sm-4">
      
      <h4 class="testimonial-t">Nicolas</h4>
      <div class="imago"><%= image_tag('nicolas.png', :width => "100%", :height => "auto", :class=> "img-circular") %></div>
      <p class="testimonial">« J’avais déjà une bonne pratique du frontend. Je suis venu à The Hacking Project pour monter en compétence sur le backend. J’ai de nouvelles opportunités professionnelles ! »</p>
    </div>
 <!--  </div> -->

</div>

</div>


</div>






<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <!-- <span class="glyphicon glyphicon-chevron-up"></span> -->
  </a>
  <p>Made with <span class="glyphicon glyphicon-heart logo-small"></span> <a class="spe-link" href="#" title="">The Hacking Project 2018 </a>&copy;</p>
</footer>






<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>


<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"e32bd685ad4cebaf233cc4f36","lid":"89f37c46fd"}) })
</script>


</body>
</html>
