<!DOCTYPE html>
<html>
  <head>

  	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114611121-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());  gtag('config', 'UA-114611121-1');
	</script>


    <title>CreepyThp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    /* Facebook Open graph */
<meta property="og:url"                content="https://discover-thp.herokuapp.com/" />
<meta property="og:title"              content="Apprenez à coder comme un pro en 3 mois !" />
<meta property="og:description"        content="Gratuité, excellence et entraide. Les fondamentaux de 'The HAcking Project'. Une formation exigeante avec plusieurs projets d'application, pendant 3 mois à temps plein. "/>
<meta property="og:image"              content="https://www.thehackingproject.org/assets/front-image-c05d6aa0cef640d6dfeb8a3d70fe531c926608ae85e124f715f671a8eba4527b.jpg" />
<meta property="og:locale"             content="fr_FR"


  </head>

  <body>
    <%= yield %>
  </body>
</html>
